<div>
  <h2>Programming book list!</h2>

  <button (click)="isShowing = !isShowing" [disabled]="bookButtonDisabled">
    <ng-container *ngIf="!isShowing">Show Books</ng-container>
    <ng-container *ngIf="isShowing">Hide Books</ng-container>
  </button>

  <div *ngIf="isShowing">
    <ul>
      <ng-template ngFor let-item [ngForOf]="books" let-i="index">
          <li>
            <img [src]="books[i].img_path" [alt]="books[i].name" width="125px"><br>
            {{ books[i].name }} <br>
            by {{ books[i].author}}
          </li>
      </ng-template>
    </ul>
  </div>
</div>
